Importing pandas, regular expression and reading the file

In [65]:
import pandas as pd
import regex as re
from pandas.api.types import is_string_dtype
file1 = pd.read_csv("One_Year_of_FitBitChargeHR_Data.csv",converters={'Steps':str,'Calories_Activity':str})  #keeping these two columns as strings while reading

In [66]:
file1.head()

,Date,Calories,Steps,Distance,floors,Minutes_sitting,Minutes_of_slow_activity,Minutes_of_moderate_activity,Minutes_of_intense_activity,Calories_Activity
0,08-05-2015,1.934,905,"0,65",0,1.355,46,0,0,168
1,09-05-2015,3.631,18.925,"14,11",4,611.000,316,61,60,2.248
2,10-05-2015,3.204,14.228,"10,57",1,602.000,226,14,77,1.719
3,11-05-2015,2.673,6.756,"5,02",8,749.000,190,23,4,962
4,12-05-2015,2.495,5.020,"3,73",1,876.000,171,0,0,736

## Distance column

In the distance column change , to .

For example, change 0,65 to 0.65

In [67]:
is_string_dtype(file1['Distance'])     # check the type

True

In [68]:
for row in range(0,len(file1)):
    file1.iloc[row,3] = re.sub(',','.',file1.iloc[row,3])     #replace/substitute , with .

In [69]:
file1.Distance = file1.Distance.astype(float)                # change type to float

In [70]:
is_string_dtype(file1['Distance'])

False

## Now change the steps column

In [71]:
file1.head()

,Date,Calories,Steps,Distance,floors,Minutes_sitting,Minutes_of_slow_activity,Minutes_of_moderate_activity,Minutes_of_intense_activity,Calories_Activity
0,08-05-2015,1.934,905,0.65,0,1.355,46,0,0,168
1,09-05-2015,3.631,18.925,14.11,4,611.000,316,61,60,2.248
2,10-05-2015,3.204,14.228,10.57,1,602.000,226,14,77,1.719
3,11-05-2015,2.673,6.756,5.02,8,749.000,190,23,4,962
4,12-05-2015,2.495,5.020,3.73,1,876.000,171,0,0,736

In [72]:
file1.iloc[1,2]

'18.925'

In [ ]:
For making 18.925 into 18925, we need to multiply it with 1000
logic 10 ** (length of string - index of decimal - 1)   # to figure out the power

In [58]:
for row in range(0,len(file1)):
    if '.' in file1.iloc[row,2]:
        file1.iloc[row,2] = float(file1.iloc[row,2]) * (10 ** (len(file1.iloc[row,2]) - file1.iloc[row,2].index('.') - 1) )

In [60]:
file1.Steps = file1.Steps.astype(float)             # convert to float

## Applying the same logic for Calories_activity column

In [62]:
for row in range(0,len(file1)):
    if '.' in file1.iloc[row,9]:
        file1.iloc[row,9] = float(file1.iloc[row,9]) * (10 ** (len(file1.iloc[row,9]) - file1.iloc[row,9].index('.') - 1) )

In [63]:
file1.Calories_Activity = file1.Calories_Activity.astype(float)

## Exporting as CSV

In [73]:
file1.to_csv('fitbit_cleaned.csv')